html,body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

p {
    background-color: brown;
}

.topo {
    background-color: rgb(0, 255, 115);
    height: 150px;
    width: auto;
    margin-top: 30px;
    border: 2px solid red;
    color: red;
}

.topo p{
    text-align: center;
    background-color: gray;
    background-position: center;
    width: 150px;
    height: 30px;
    margin: 60px 550px;
}

.conteudo {
    background-color: yellow;
    height: 420px;
    width: auto;
    margin-top: 3px;
    border: 2px solid red;
    padding-left: 10px;
}

.p-ne{
    background-color: blueviolet;
    height: 60px;
    width: 200px;
}

.p-descricao {
    background-color: blue;
    height: 60px;
    width: 250px;
    padding-left: 20px;
}

.esportes {
    background-color: red;
    height: 60px;
    width: 200px;
    margin-left: 350px;
}

.noticias {
    background-color: greenyellow;
    height: 60px;
    width: 200px;
    padding-left: 20px;
    margin-left: 600px;
}

.rodape{
    height: 100px;
    background-color: greenyellow;
}