*{
    margin: 0;
}


#div1{
    opacity: 0.6;
    width: 1fr;
    border: rgb(0, 0, 0) solid;
    background-image: url("josh.jpeg");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: yellow;
    background-size: 80px;
    background-attachment: scroll;
}

#div2{
    border: rgba(0, 0, 0,0.8) solid 3px;
    margin: 25px 50px;
    width: 350px;
    text-align: center;
}

#div3{
    background-color: yellow;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 1fr;
    height: 90vh;
}